/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Titillium Web", sans-serif;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: .2px;
    width: 100%;
}


header ul {
    display: flex;
    position: fixed;
    top: -17px;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    background: #e10600;
    width: 100%;
    height: auto;
    z-index: 999;
    width: 100vw;
}

header img {
    width: 75px;
    padding: 10px;
}

main {

    width: 100%;
}

ul li {
    list-style: none;
}

img {
    width: 100%;
}

li span {
    color: #e10600;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 700;
}

main section fieldset {
    border-right: 10px solid #e10600;
    border-top: 10px solid #e10600;
    border-left: 0px;
    border-bottom: 0px;
    border-top-right-radius: 30px;
    border-top-width: ;
}

main section fieldset legend h1 {
    left: 0px;
    padding-right: 20;
    border: 3px solid #FFF;
    padding-right: 30px;
}

ul li a p {
    font-family: "Formula1";
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    padding-left: 0px
}

main section fieldset ul:first-of-type li {
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: none;
    border-color: #d0d0d2;
    border-radius: 15px;
    padding: 15px 15px 30px;
    margin-bottom: 20px;
    float: left;
    width: 45%;
    padding: 10px;
    margin-right: 10px;
}

main section fieldset ul:first-of-type:after {
    content: "";
    display: table;
    clear: both;
}

fieldset button {
    display: flex;
    justify-content: center;
    background-color: #e10600;
    padding: 12px 15px 12px 15px;
    border-radius: 5px;
    border: none;
}

fieldset button:hover {
    box-shadow: 0 0 0 2px #e10600 inset;
    background: #fff;
    transition: all .5s
}

fieldset button a {
    color: white;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: .5px;
    font-family: "Titillium Web";
    font-weight: 600;
    text-transform: uppercase;
}

fieldset button a:hover {
    color: #15151e;
    transition: all .5s
}

section:nth-child(2) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #13161E;
    margin-top: 2em;
    color: white;
    text-transform: uppercase;
}

section:nth-child(2) div:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section:nth-child(2) div:nth-child(1) img {
    width: 2.5em;
    border-radius: 5px;
    margin: 1.5em 1em;
}

section:nth-child(2) div:nth-child(1) span {
    align-items: center;
    align-content: center;
    font-family: "Formula1 Display-Bold";
    color: #949498;
    font-size: 13px;
    line-height: 15px;
}

section:nth-child(2) h3 {
    font-size: 1rem;
    line-height: 20px;
    font-family: "Formula1 Display-Bold";
    margin: 1em;
}

section:nth-child(2) div:nth-child(4) {
    background-color: #093a2b;
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    max-width: 95%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 1em;
}

section:nth-child(2) div:nth-child(4) img {
    width: 20%;
    height: auto;
    min-width: 20%;
}

section:nth-child(2) div:nth-child(4) container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
}

section:nth-child(2) div:nth-child(4) container span {
    font-family: "Formula1 Display-Bold";
    line-height: 15px;
    letter-spacing: .5px;
    font-weight: 400;
    font-size: 10px;
    display: block;
    padding-bottom: 2px;
    margin-left: 1em;
}

section:nth-child(2) div:nth-child(4) img:last-child {
    margin-left: 40%;
    border-left: solid 1px rgba(237, 237, 237, .1);
    padding-right: 2px;
}

section:nth-child(2) button {
    appearance: none;
    border-radius: 5px;
    border: 1px solid #d0d0d2;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Titillium Web";
    font-size: 13px;
    line-height: 15px;
    letter-spacing: .5px;
    font-weight: 700;
    padding: 10px 0;
    display: block;
    text-align: center;
    background: 0 0;
    color: #fff;
    width: 90%;
    margin-bottom: 1em;
}

section:nth-child(2) button:hover {
    border: 2px solid #d0d0d2;
    transition: all .5s;
}

section:nth-child(2) ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    font-family: "Formula1";
    font-size: 12px;
    letter-spacing: .5px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
}

section:nth-child(2) ul {
    padding-bottom: 2em;
}

section:nth-child(2) ul li p:nth-child(2) {
    color: #949498;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: .5px;
    padding: 0 5px;
}

section:nth-child(2) ul li p:nth-child(3) {
    background-color: #38383f;
    padding: 4px 10px;
    border-radius: 10px;
    line-height: 15px;
    letter-spacing: .5px;
}

time {
    color: #949498;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: .5px;
    font-weight: 700;
    margin: 1em;
}

section:nth-child(3) {
    text-transform: uppercase;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

section:nth-child(3) ul:nth-child(1) {
    display: flex;
    justify-content: space-around;
    margin: 0 10px;
    padding: 20px 0;
    position: relative;
    font-family: "Formula1";
    font-size: 14px;
    line-height: 17px;
    background-color: #f3f3f3;
    position: relative;
    /* width: 100%; */
}

section:nth-child(3) ul:nth-child(1) li:nth-of-type(2) {
    border-left: 1px solid #d0d0d2;
    border-right: 1px solid #d0d0d2;
    height: 20px;
    padding: 0 2em;
}

section:nth-child(3) ul:nth-child(1) li:hover {
    border-bottom: 3px solid #e10600;
    bottom: 0px;


}

section:nth-child(3) ul:nth-child(1) li:first-child {
    border-bottom: 3px solid #e10600;
    bottom: 0px;
}

section:nth-child(3) div {
    display: flex;
    flex-direction: column;
    background-color: #494757;
    position: relative;
    height: 300px;
}

section:nth-child(3) div h3 {
    display: flex;
    justify-content: center;
    margin: 20px 0 30px 0;
    font-family: "Formula1 Display-Wide";
    font-size: 20px;
    line-height: 24px;
    color: white;
}

section:nth-child(3) div img {
    width: 60%;
    z-index: 900;
    position: absolute;
    bottom: -10px;
    right: 50px;
}

section:nth-child(3) div div {
    background-color: white;
    width: 90%;
    border-radius: 15px 15px 0 0;
    height: 100px;
    position: absolute;
    bottom: 0px;
    border-bottom: 10px solid #00D2BE;
}

section:nth-child(3) ul:nth-child(3) {
    width: 90%;
    margin: -0.1em;
    /*   display: flex;
    flex-direction: column;
    justify-content: center; */
}

section:nth-child(3) ul:nth-child(3) li {
    align-items: center;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    font-family: "Formula1 Display-Bold";
    font-size: 14px;
    line-height: 17px;
    position: relative;
    margin: 2px;
    background-color: white;
}

section:nth-child(3) ul:nth-child(3) li span {
    font-size: 14px;
    line-height: 17px;
    color: black;
}

section:nth-child(3) ul:nth-child(3) li span:nth-child(3) {
    font-family: "Titillium Web";
    font-weight: 600;
    background-color: #ededed;
    font-size: 13px;
    padding: 2px 10px;
    border-radius: 15px;
    position: absolute;
    right: 2em;
}

section:nth-child(3) ul:nth-child(3) li p {
    margin: 0 10px;
    padding: 0 10px;
    border-left: 4px solid #00d2Be;
}

section:nth-child(3) button {
    background: #e10600;
    box-shadow: none;
    color: #fff;
    margin: 10px 0 20px 0;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: .5px;
    font-weight: 600;
    padding: 12px 35px 12px 15px;
}

section:nth-child(3) button:hover {
    box-shadow: 0 0 0 2px #e10600 inset;
    background: #fff;
    color: #15151e;
    transition: all .5s
}
